.profile__avatar-btn {
  cursor: pointer;
  height: 120px;
  width: 120px;
  background-color: transparent;
  border: none;
}

.profile__avatar-btn:hover {
  background-color: rgba(0, 0, 0, .8);
  background-image: url(../../../images/Avatar.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  transition: all .3s linear;

}

