.header__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: white;
  padding-right: 30px;
  font-size: 18px;
  line-height: 22px;
}

/* 540 */
@media screen and (max-width: 540px) {
  .header__link {
    margin-bottom: 40px;
  }
}
