.section-title {
  margin: 22px 0 16px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}

/* 768 */
@media screen and (max-width: 768px) {
  .section-title {
    font-size: 27px;
    line-height: 33px;
    max-width: 230px;
  }
}

/* 583px */
@media screen and (max-width: 583px) {
  .section-title {
    margin: 22px auto 14px;
    max-width: 189px;
    transform: translateX(11px);
  }
}
