/* 1280 */
.header {
  max-width: 880px;
  padding: 45px 0 0;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84,84,84,.7);
  display: flex;
  justify-content: space-between;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .header {
    padding: 27px 0 0 28px;
  }
}
